.animated-cat,
.animated-dog {
  font-size: 2.5rem;
  user-select: none;
  cursor: default;
}

.animated-paw {
  font-size: 1.6rem;
  opacity: 0.2;
  user-select: none;
}

.animated-heart {
  font-size: 1.4rem;
  user-select: none;
}
